.header {
    display: flex;
    background-color: #ffd52d;
    width: 100%;
    height: 100px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    top: 0;
    left: 0;
    position: fixed;
    color: white;
    z-index: 3;
}

.header h3 {
    color: #EB5F0A;
    margin-left: 30px;
    font-size: 2rem;
    font-family: "Philly Sans";
    text-shadow: 4px 4px white;
}

.header ul {
    align-self: right;
}

li {
    display: inline;
    vertical-align: baseline;
    font-family: 'Philly Sans';
    font-size: 30px;
    margin-right: 30px;

}

.navigation li a {
    color: #eb5f0a;
    text-shadow: 5px 2px #f6f4f4;
    text-decoration: none;
}

.navigation li a:hover {
    text-shadow: 4px 4px black;
}

.menu {
    display: flex;
    height: 2.5rem;
    /* width: 2.5rem; */
    margin-right: 20px;
    margin-top: 30px;
}

.mobile-menu {
    display: none;
    color: black;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

}



h1 {
    font-family: "Philly Sans";
    font-weight: bold;
    text-align: center;

}
